@accent-color: #D8E8EC;
@light-background: #E9E9E9;
@dark-accent-color: #96C8D3;
@darkest-accent-color: #5493A0;
@font-fam: 'Oxygen', sans-serif;
@chosen-prod-width: 35vw;

body, p {
    margin: 0;
    padding: 0;
    font-family: @font-fam;
    overflow-x: hidden;
}

button {
    border: none;
    padding: 15px 25px;
    border-radius: 15px;
    background-color: @accent-color;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: 0.2s;
    a {
        text-decoration: none;
        font-family: @font-fam;
        font-size: 18px;
        color: #000000;
    }
}

button:hover {
    background-color: @dark-accent-color;
}

#navigation-bar {
    width: 100vw;
    margin: 0;
    padding: 1vh 3vh;
    background-color: @accent-color;
    box-sizing: border-box;
    list-style-type: none;
    a {
        display: block;
        color: #000000;
        text-decoration: none;
    }
    .title {
        font-size: 24px;
        cursor: pointer;
    }
}

#more-info-container {
    height: 50vh;
    width: 90vw;
    padding-left: 5vw;
    .tab {
        overflow: hidden;
        border-bottom: 1px solid #aaa;
        button {
            font-family: @font-fam;
            font-size: 18px;
            float: left;
            background-color: transparent;
            border-bottom: 5px solid transparent;
            border-radius: 0px;
            outline: none;
            cursor: pointer;
            padding: 10px 15px;
            margin: 0px 10px;
            transition: 0.3s;
        }
        button:hover {
            background-color: #eee;
        }
        button.active {
            border-bottom-color: @darkest-accent-color;
            font-weight: bold;
        }
    }
    .tabcontent {
        display: none;
        padding-left: 2vw;
        padding-top: 2vw;
        width: 85vw;
        border: none;
        .details-cols {
            display: flex;
            justify-content: space-between;
            .details-list {
                list-style-type: circle;
            }
            table, .fillings-table th, .fillings-table td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 20px;
                text-align: left;
            }
        }
        .review-container {
            display: flex;
            font-size: 14px;
            margin-bottom: 8vh;
            .person_icon {
                width: 50px;
                height: 50px;
                border: 3px solid @light-background;
            }
            .review-text-container {
                padding-left: 15px;
                .review-name-container {
                    display: flex;
                    display: flex;
                    width: 20vw;
                    justify-content: space-between;
                }
                .bought-details {
                    color: #999999;
                    padding: 15px 0;
                }
            }
        }
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .popup-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        text-align: center;
        width: 50%;
        img {
            display: block;
            width: 20vh;
        }
        button {
            font-family: @font-fam;
        }
    }
}

#prod-header {
    display: flex;
    width: @chosen-prod-width;
    justify-content: space-between;
}

.star-container {
    img {
        width: 10px;
    }
}

#product-descp-container {
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 10vh;
    .rating-container {
        display: flex;
        margin-bottom: 15px;
        p {
            margin: 0;
            padding: 0 15px;
        }
    }

    #product-preview-container {
        width: 50vw;
        display: flex;
        flex-direction: row;
        #product-preview-image-container {
            width: 85%;
            #product-preview-large {
                width: 100%;
            }
        }
        #product-preview-list {
            margin: 0px 15px 15px 15px;
            width: 15%;
            img {
                width: 100%;
                cursor: pointer;
                border: 3px solid transparent;
            }
            .chosen-preview {
                border-color: @dark-accent-color;
            }
        }
    }
    #prod-description-container {
        width: 30vw;
    }
}

.yarn-selector-container {
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    h3 {
        margin: auto 0;
    }
    img {
        width: 20%;
        margin: 0 15px;
    }
    .yarn-select {
        width: 60%;
        position: relative;
        font-family: @font-fam;
        select {
            display: none;
        }
        .select-selected {
            display: flex;
            background-color: @light-background;
        }
        .select-selected:after {
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: @dark-accent-color transparent transparent transparent;
        }
        .select-selected.select-arrow-active:after {
            border-color: transparent transparent @dark-accent-color transparent;
            top: 7px;
        }

        /* style the items (options), including the selected item: */
        .select-items div,.select-selected {
            color: #000000;
            padding: 8px 16px;
            cursor: pointer;
        }

        /* Style items (options): */
        .select-items {
            position: absolute;
            background-color: @light-background;
            left: 0;
            right: 0;
            z-index: 99;
        }

        /* Hide the items when the select box is closed: */
        .select-hide {
            display: none;
        }

        .select-items div:hover, .same-as-selected {
            background-color: #C4C4C4;
        }
    }

}

.checkout-button {
    width: 100%;
    margin: 25px 0;
    font-family: @font-fam;
    font-size: 18px;
    text-align: center;
    border-radius: 0px;
}

.filling-selector-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    .radio-options-container {
        display: flex;
        padding-top: 15px;
    }
}
/* Customize the label (the container) */
.radio-container {
    display: block;
    position: relative;
    padding: 35px 15px 0px 15px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: calc(50% - 18px);
    height: 25px;
    width: 25px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid  @darkest-accent-color;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .checkmark:after {
    top: 4px;
    left: 3.75px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: @darkest-accent-color;
  }
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: @light-background;
}


#product-body-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    #product-selector {
        width: 40vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        cursor: pointer;
        .image-content {
            padding: 20px;
            border-radius: 15px;
            border: 3px solid transparent;
            transition: 0.3s;
        }
        .image-content.selected {
            background-color: @accent-color;
            border: 3px solid @accent-color;
        }
        img {
            width: 15vw;
        }
    }
    #product-description-container {
        width: 40vw;
        margin: auto;
        #chosen-product {
            width: @chosen-prod-width;
            transition: 0.2s;
        }
    }
}

#landing-featured-container {
    background-color: @light-background;
    padding: 5vh 10vh;
    h3 {
        font-size: 24px;
        font-weight: normal;
        padding: 0; margin: 0;
    }
    .featured-row {
        display: flex;
        justify-content: space-around;
        img {
            width: 25vw;
        }
        .featured-prods-list {
            display: block;
            .product-listing {
                width: 50vw;
                padding: 5vh;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                background-color: #FFFFFF;
                transition: 0.2s;
                a {
                    text-decoration: none;
                    color: #000000;
                }
            }
            .product-listing:hover {
                background-color: @accent-color;
            }
        }
    }
}

#landing-body-container {
    height: 80vh;
    width: 100vw;
    position: relative;
    #landing-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        #logo {
            font-size: 54px;
            padding: 15px 0;
            text-decoration: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            color: #000000;
            img {
                position: absolute;
                width: 25vw;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            p {
                margin: 0; padding: 0;
            }
            .caption {
                padding: 10px 0;
                font-size: 12px;
                font-style: italic;
            }
        }
        button {
            margin-top: 20vh;
        }
    }
}